*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito", "Helvetica", "Arial", "sans-serif";
    position: relative;
}

.bg-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  opacity: .2;
  img {
      height: 100%;
  }
}

#app {
    padding: 3rem;
    background-color: transparent;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    &:not(:first-child) {
        margin-top: 3rem;
    }
}

p {
    font-size: 1.6rem;
}