
  $color-primary: #0071BC; // Atalanta blue
  $color-grey-light: #dfdfdf;
  $color-grey-dark: #3f3f3f;
  $color-white: #fff;
  $color-black: #000;

  $color-score--win: #2EE700;
  $color-score--draw: #EFE600;
  $color-score--loss: #D20000;